app.log.*
config.settings.js
coverage
dist
*.lcov
lib-cov
.lock-wscript
logs
log
*.log
node_modules/
.node_repl_history
.npm
npm-debug.log*
.nyc_output
pids
*.pid
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
*.seed










